parameters:
    level: max
    paths:
        - src
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - "#Unsafe usage of new static#"
        - "#no value type specified in iterable type#"
